*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  font-family: var(--lato-font);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  width: 100%;
  display: block;
}

.index-body {
  background-color: green;
}

:root {
  --primary-clr: hsl(216, 86%, 85%);
  --secondary-clr: hsl(216, 61%, 63%);
  --dark-clr: hsl(180, 6%, 6%);
  --light-clr: hsl(0, 0%, 100%);
  --neautral-clr: hsl(0, 0%, 50%);
  --footer-clr: hsl(200, 19%, 18%);
}

.green-mode {
  --primary-clr: hsl(144, 60%, 85%);
  --secondary-clr: hsl(159, 42%, 49%);
  --dark-clr: hsl(180, 6%, 6%);
  --light-clr: hsl(0, 0%, 100%);
  --neautral-clr: hsl(0, 0%, 50%);
  --footer-clr: hsl(200, 19%, 18%);
}

:root {
  --lato-font: "Lato", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
}

h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
}

h1,
h2 {
  font-family: var(--montserrat-font);
}

h2 {
  font-size: 1.2rem;
}

.title {
  font-size: 1.8rem;
  line-height: 1.3;
}
.title--span {
  font-style: italic;
  font-weight: 700;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.footer {
  text-align: center;
  margin-top: auto;
  padding: 2rem 1rem 0.5rem 1rem;
  font-size: 0.8rem;
}
@media (min-width: 52em) {
  .footer {
    font-size: 1rem;
  }
}
.footer__link {
  color: var(--dark-clr);
}
.footer__link:hover, .footer__link--data:hover {
  color: var(--secondary-clr);
}
.footer--data {
  background-color: var(--footer-clr);
  color: var(--light-clr);
}
.footer__link--data {
  color: var(--light-clr);
}

button {
  border-radius: 50px;
  padding: 0.6rem 0.9rem;
  border: none;
  background-color: var(--secondary-clr);
  color: var(--light-clr);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out 0s;
  font-family: var(--lato-font);
  letter-spacing: 0.9px;
}

@media (max-width: 20em) {
  .button--form,
.button--form > button {
    width: 100%;
  }
}

.wrapper-button {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.button--back {
  display: inline-block;
  width: 100%;
  padding: 2.5rem 1.5rem;
}
@media (min-width: 37em) {
  .button--back {
    max-width: 31rem;
    margin: 0 auto;
  }
}
.button--back > button {
  width: 100%;
}

button:hover {
  transform: scale(1.1);
}

.toggle-container {
  text-align: end;
}
@media (min-width: 52em) {
  .toggle-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

.toggle {
  --width: 100px;
  --height: calc(var(--width) / 3);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 10px;
}

.toggle input {
  display: none;
}

.toggle .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 10px;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--light-clr);
  background-color: hsl(216deg, 61%, 63%);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: calc(var(--width) * -1);
  height: 100%;
  width: 100%;
  color: var(--light-clr);
  background-color: hsl(159deg, 42%, 49%);
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  transform: translateX(var(--width));
}

.toggle input:checked ~ .labels::before {
  transform: translateX(var(--width));
}

@media (min-width: 52em) {
  #index__body {
    background-color: var(--primary-clr);
  }
}

.header {
  position: relative;
  margin: 1.5rem 1.7rem;
  font-family: var(--montserrat-font);
}
@media (min-width: 52em) {
  .header {
    display: flex;
    padding-top: 5rem;
    max-width: 90%;
    margin: 0 auto;
    background-color: var(--light-clr);
    margin-top: 6.5rem;
    border-radius: 20px;
  }
}
@media (min-width: 78.125em) {
  .header {
    padding-top: 0;
  }
}
.header__img {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 25rem;
}
@media (min-width: 78.125em) {
  .header__img {
    padding: 0;
    max-width: 37rem;
  }
}
.header__title {
  margin: 1rem 0 0.6rem 0;
  font-weight: 700;
  max-width: 60ch;
}
@media (min-width: 37em) {
  .header__title {
    font-size: 2.7rem;
  }
}
.header__paragraph {
  font-weight: 600;
  max-width: 60ch;
}
@media (min-width: 37em) {
  .header__paragraph {
    font-size: 1.2rem;
  }
}
.header__form {
  max-width: 30rem;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 20em) {
  .header__form {
    flex-direction: column;
    align-items: end;
    gap: 0;
  }
}
.header__form > form {
  width: 100%;
}
.header__input {
  font-family: var(--lato-font);
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 0.6rem 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 1rem 0;
}
.header__input:focus {
  outline: 1px solid var(--secondary-clr);
}

@media (min-width: 52em) {
  .wrapper {
    margin: 0 auto;
    padding: 3.8rem 0 4.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 78.125em) {
  .wrapper {
    width: 85%;
  }
}
.wrapper--text {
  width: 100%;
}
@media (min-width: 37em) {
  .wrapper--text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.wrapper--img {
  width: 100%;
}
@media (min-width: 78.125em) {
  .wrapper--img {
    width: 85%;
  }
}

.error {
  color: var(--secondary-clr);
  font-family: var(--lato-font);
}
.error__list {
  padding-left: 0.5rem;
  font-weight: 600;
}
.error__list > li {
  color: var(--secondary-clr);
  text-decoration: underline;
  cursor: pointer;
}

.data-header {
  background-color: var(--primary-clr);
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 52em) {
  .data-header {
    padding: 0 4rem;
    border-radius: 0 0 20px 20px;
  }
}
.data-header--title {
  text-align: center;
  padding: 3rem 0 2rem 0;
  font-size: 1.8rem;
}
@media (min-width: 52em) {
  .data-header--title {
    font-size: 2.2rem;
    padding-top: 4rem;
    text-align: left;
  }
}
@media (min-width: 78.125em) {
  .data-header--title {
    width: 50%;
    font-size: 2.7rem;
  }
}
@media (min-width: 52em) {
  .data-header--wrapper {
    display: flex;
    max-width: 57rem;
    margin: 0 auto;
    justify-content: center;
    padding-top: 2.5rem;
  }
}
@media (min-width: 78.125em) {
  .data-header--wrapper {
    padding-top: 6rem;
    max-width: 66rem;
  }
}
.data-header--img {
  padding: 0 1.2rem;
}
@media (min-width: 37em) {
  .data-header--img {
    padding: 0 4rem;
  }
}
@media (min-width: 52em) {
  .data-header--img {
    padding: 0 0 0 4rem;
  }
}

@media (min-width: 37em) {
  .data-header--img > img {
    padding-top: 2.8rem;
    max-width: 49rem;
    margin: 0 auto;
  }
}

@media (min-width: 52em) {
  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "a  b";
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 0;
  }
}

.flag {
  margin: 2rem 0;
}
@media (min-width: 52em) {
  .flag {
    grid-area: b;
    margin-top: 0;
  }
}
.flag > img {
  max-width: 50%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (min-width: 37em) {
  .flag > img {
    max-width: 40%;
  }
}
@media (min-width: 52em) {
  .flag > img {
    max-width: 15rem;
    margin-left: 0;
  }
}

.info {
  margin: 0 auto;
  width: 88%;
  letter-spacing: 0.4px;
}
@media (min-width: 52em) {
  .info {
    grid-area: a;
  }
}
.info__row {
  align-items: baseline;
  margin-bottom: 1.3rem;
}
.info__label {
  font-weight: 700;
  font-size: 1.2rem;
}
@media (min-width: 37em) {
  .info__label {
    font-size: 1.5rem;
  }
}
.info__text {
  font-size: 1.2rem;
  padding-left: 0.7rem;
  font-weight: 400;
}
@media (min-width: 37em) {
  .info__text {
    font-size: 1.5rem;
  }
}

.local-names {
  display: inline-block;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.card-wrapper {
  margin: 2.5rem 1.5rem;
}

.card {
  background-color: var(--primary-clr);
  border-radius: 20px;
  padding: 1.8rem 1.5rem;
  max-width: 35rem;
  margin: 0 auto;
  border: 0.2px solid #aaa;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.card__title {
  margin-bottom: 1rem;
  font-size: 1.3;
}
@media (min-width: 37em) {
  .card__title {
    font-size: 1.5rem;
  }
}
.card__text {
  font-size: 1.1rem;
}
@media (min-width: 37em) {
  .card__text {
    font-size: 1.5rem;
  }
}
.card__span {
  font-weight: 700;
}

.geolocation {
  margin-top: 3.5rem;
}
@media (min-width: 52em) {
  .geolocation {
    background-color: var(--primary-clr);
    border-radius: 20px 20px 0 0;
    padding-top: 2rem;
  }
}
.geolocation__title {
  margin: 0 auto;
  max-width: 65%;
  text-align: center;
  font-size: 1.4rem;
}
@media (min-width: 37em) {
  .geolocation__title {
    font-size: 1.8rem;
    padding-top: 2rem;
  }
}
@media (min-width: 52em) {
  .geolocation__wrapper {
    display: flex;
    max-width: 61rem;
    margin: 0 auto;
    padding-top: 3rem;
  }
}
.geolocation__img {
  max-width: 25rem;
  margin: 0 auto;
  padding: 0 1rem 0 2rem;
}
@media (min-width: 52em) {
  .geolocation__img {
    padding: 0 0 0 2.5rem;
  }
}
@media (min-width: 78.125em) {
  .geolocation__img {
    padding-right: 0;
  }
}
.geolocation__map {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}
@media (min-width: 52em) {
  .geolocation__map {
    padding: 0 2.5rem 0 0;
  }
}
@media (min-width: 78.125em) {
  .geolocation__map {
    padding-left: 0;
  }
}

.geo-map {
  box-shadow: var(--dark-clr) 14px 13px;
  width: 250px;
  height: 150px;
}
@media (min-width: 30em) {
  .geo-map {
    width: 350px;
    height: 250px;
  }
}
@media (min-width: 37em) {
  .geo-map {
    width: 400px;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
