*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  font-family: var(--lato-font);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  width: 100%;
  display: block;
}

.index-body {
  background-color: green;
}

:root {
  --primary-clr: hsl(216, 86%, 85%);
  --secondary-clr: hsl(216, 61%, 63%);
  --dark-clr: hsl(180, 6%, 6%);
  --light-clr: hsl(0, 0%, 100%);
  --neautral-clr: hsl(0, 0%, 50%);
  --footer-clr: hsl(200, 19%, 18%);
}

.green-mode {
  --primary-clr: hsl(144, 60%, 85%);
  --secondary-clr: hsl(159, 42%, 49%);
  --dark-clr: hsl(180, 6%, 6%);
  --light-clr: hsl(0, 0%, 100%);
  --neautral-clr: hsl(0, 0%, 50%);
  --footer-clr: hsl(200, 19%, 18%);
}

:root {
  --lato-font: "Lato", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
}

h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
}

h1,
h2 {
  font-family: var(--montserrat-font);
}

.title {
  font-size: 1.8rem;
  line-height: 1.3;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.footer {
  text-align: center;
  margin-top: auto;
  padding: 2rem 1rem 0.5rem 1rem;
  font-size: 0.8rem;
}
@media (min-width: 52em) {
  .footer {
    font-size: 1rem;
  }
}
.footer__link {
  color: var(--dark-clr);
}
.footer__link:hover {
  color: var(--secondary-clr);
}

button {
  border-radius: 50px;
  padding: 0.6rem 0.9rem;
  border: none;
  background-color: var(--secondary-clr);
  color: var(--light-clr);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out 0s;
  font-family: var(--lato-font);
  letter-spacing: 0.9px;
}

@media (max-width: 20em) {
  .button--form,
.button--form > button {
    width: 100%;
  }
}

button:hover {
  transform: scale(1.1);
}

.toggle-container {
  text-align: end;
}
@media (min-width: 52em) {
  .toggle-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

.toggle {
  --width: 100px;
  --height: calc(var(--width) / 3);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 10px;
}

.toggle input {
  display: none;
}

.toggle .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 10px;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--light-clr);
  background-color: hsl(216deg, 61%, 63%);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: calc(var(--width) * -1);
  height: 100%;
  width: 100%;
  color: var(--light-clr);
  background-color: hsl(159deg, 42%, 49%);
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  transform: translateX(var(--width));
}

.toggle input:checked ~ .labels::before {
  transform: translateX(var(--width));
}

@media (min-width: 52em) {
  #index__body {
    background-color: var(--primary-clr);
  }
}

.header {
  position: relative;
  margin: 1.5rem 1.7rem;
  font-family: var(--montserrat-font);
}
@media (min-width: 52em) {
  .header {
    display: flex;
    padding-top: 5rem;
    max-width: 90%;
    margin: 0 auto;
    background-color: var(--light-clr);
    margin-top: 6.5rem;
    border-radius: 20px;
  }
}
@media (min-width: 78.125em) {
  .header {
    padding-top: 0;
  }
}
.header__img {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 25rem;
}
@media (min-width: 78.125em) {
  .header__img {
    padding: 0;
    max-width: 37rem;
  }
}
.header__title {
  margin: 1rem 0 0.6rem 0;
  font-weight: 700;
  max-width: 60ch;
}
@media (min-width: 37em) {
  .header__title {
    font-size: 2.7rem;
  }
}
.header__paragraph {
  font-weight: 600;
  max-width: 60ch;
}
@media (min-width: 37em) {
  .header__paragraph {
    font-size: 1.2rem;
  }
}
.header__form {
  max-width: 30rem;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 20em) {
  .header__form {
    flex-direction: column;
    align-items: end;
    gap: 0;
  }
}
.header__form > form {
  width: 100%;
}
.header__input {
  font-family: var(--lato-font);
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 0.6rem 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 1rem 0;
}
.header__input:focus {
  outline: 1px solid var(--secondary-clr);
}

@media (min-width: 52em) {
  .wrapper {
    margin: 0 auto;
    padding: 3.8rem 0 4.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 78.125em) {
  .wrapper {
    width: 85%;
  }
}
.wrapper--text {
  width: 100%;
}
@media (min-width: 37em) {
  .wrapper--text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.wrapper--img {
  width: 100%;
}
@media (min-width: 78.125em) {
  .wrapper--img {
    width: 85%;
  }
}

.error {
  color: var(--secondary-clr);
  font-family: var(--lato-font);
}
.error__list {
  padding-left: 0.5rem;
  font-weight: 600;
}
.error__list > li > a {
  color: var(--secondary-clr);
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
