:root {
    --primary-clr: hsl(216, 86%, 85%);
    --secondary-clr: hsl(216, 61%, 63%);

    --dark-text-clr: hsl(180, 6%, 6%);
    --light-text-clr: hsl(0, 0%, 100%);
    --neautral-clr: hsl(0, 0%, 50%);
    --footer-clr: hsl(200, 19%, 18%);
}

.dark-mode {
    --primary-clr: hsl(144, 60%, 85%);
    --secondary-clr: hsl(159, 42%, 49%);

    --dark-text-clr: hsl(180, 6%, 6%);
    --light-text-clr: hsl(0, 0%, 100%);
    --neautral-clr: hsl(0, 0%, 50%);
    --footer-clr: hsl(200, 19%, 18%);
}